{{ header }}{{ column_left }}{{ column_right }}
<div class="container">

  <h2>{{ text_failure }}</h2>
  <h3>{{ text_response }}</h3>

  <div class="row">
    <div id="content" class="col-sm-12">

      <div class="buttons">
        <div class="pull-right">
          <a href="{{ continue }}" class="btn btn-primary">Continue</a>
        </div>
      </div>

    </div>
  </div>
</div>

{{ footer}}
