{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" name="form-webpay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li>
                    <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible">
            <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>{{ text_edit }}
                </h3>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#tb_commerce_mod_info" name="button">{{ text_options }}</button>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-webpay" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_webpay_status">{{ entry_status }}</label>
                        <div class="col-sm-5">
                            <select name="payment_webpay_status" id="payment_webpay_status" class="form-control">
                                {% if payment_webpay_status %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="payment_webpay_test_mode">
                            <span data-toggle="tooltip" title="{{ help_test_mode }}"></span>{{ entry_test_mode }}
                        </label>
                        <div class="col-sm-5">
                            <select class="form-control" name="payment_webpay_test_mode" id="payment_webpay_test_mode">
                                <option value="INTEGRACION" selected="selected">INTEGRACION</option>
                                <option value="PRODUCCION">PRODUCCION</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="payment_webpay_commerce_code">
                            <span data-toggle="tooltip" title="{{ help_commerce_code }}"></span> {{entry_commerce_code}}
                        </label>
                        <div class="col-sm-5">
                            <input type="text" name="payment_webpay_commerce_code" placeholder="{{ webpay_commerce_code_placeholder }}" id="payment_webpay_commerce_code" class="form-control" style="font-family:monospace;" value="{{ webpay_commerce_code }}"></input>
                            {% if error_commerce_code %}
                            <div class="text-danger">{{ error_commerce_code }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="payment_webpay_private_key">
                            <span data-toggle="tooltip" title="{{ help_private_key }}"></span> {{ entry_private_key }}
                        </label>
                        <div class="col-sm-5">
                            <textarea name="payment_webpay_private_key" placeholder="{{ webpay_private_key_placeholder }}" id="payment_webpay_private_key" class="form-control">{{ payment_webpay_private_key }}</textarea>
                            {% if error_private_key %}
                            <div class="text-danger">{{ error_private_key }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="payment_webpay_public_cert">
                            <span data-toggle="tooltip" title="{{ help_public_cert }}"></span> {{ entry_public_cert }}</label>
                        <div class="col-sm-5">
                            <textarea name="payment_webpay_public_cert" placeholder="{{ webpay_public_cert_placeholder }}" id="payment_webpay_public_cert" class="form-control" style="font-family:monospace;">{{ payment_webpay_public_cert }}</textarea>
                            {% if error_public_cert %}
                            <div class="text-danger">{{ error_public_cert }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="payment_webpay_webpay_cert">
                            <span data-toggle="tooltip" title="{{ help_webpay_cert }}"></span>{{ entry_webpay_cert }}</label>
                        <div class="col-sm-5">
                            <textarea name="payment_webpay_webpay_cert" placeholder="{{ webpay_webpay_cert_placeholder }}" id="payment_webpay_webpay_cert" class="form-control" style="font-family:monospace;">{{ payment_webpay_webpay_cert }}</textarea>
                            {% if error_webpay_cert %}
                            <div class="text-danger">{{ error_webpay_cert }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_webpay_completed_order_status">{{ entry_completed_order_status }}</label>
                        <div class="col-sm-5">
                            <select name="payment_webpay_completed_order_status" id="payment_webpay_completed_order_status" class="form-control">
                                {% for order_status in order_statuses %} {% if order_status.order_status_id == payment_webpay_completed_order_status %}
                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                {% else %}
                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_webpay_rejected_order_status">{{ entry_rejected_order_status }}</label>
                        <div class="col-sm-5">
                            <select name="payment_webpay_rejected_order_status" id="payment_webpay_rejected_order_status" class="form-control">
                                {% for order_status in order_statuses %} {% if order_status.order_status_id == payment_webpay_rejected_order_status %}
                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                {% else %}
                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_webpay_canceled_order_status">{{ entry_canceled_order_status }}</label>
                        <div class="col-sm-5">
                            <select name="payment_webpay_canceled_order_status" id="payment_webpay_canceled_order_status" class="form-control">
                                {% for order_status in order_statuses %} {% if order_status.order_status_id == payment_webpay_canceled_order_status %}
                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                {% else %}
                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_webpay_geo_zone">{{ entry_geo_zone }}</label>
                        <div class="col-sm-5">
                            <select name="payment_webpay_geo_zone" id="payment_webpay_geo_zone" class="form-control">
                                <option value="0">{{ text_all_zones }}</option>
                                {% for geo_zone in geo_zones %} {% if geo_zone.geo_zone_id == payment_webpay_geo_zone %}
                                <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                {% else %}
                                <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                {% endif %} {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_webpay_sort_order">{{ entry_sort_order }}</label>
                        <div class="col-sm-5">
                            <input type="text" name="payment_webpay_sort_order" value="{{ payment_webpay_sort_order }}" placeholder="{{ entry_sort_order }}" id="payment_webpay_sort_order" class="form-control" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}

<style media="screen">

    H3.menu-head {
        background-color: #d6012f;
        color: #ffffff;
    }

    .invisible {
        visibility: hidden;
    }

    .modal-content {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #333;
    }

    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
    }
</style>

{% macro class_response(string) %} {% if string == 'OK' %}
<span class='label label-success'>OK</span> {% elseif string == null %}
<span class='label label-warning'>Vac&iacute;o</span> {% else %}
<span class='label label-danger'>{{ string }}</span> {% endif %} {% endmacro %}

<!-- Modal con la informacion para desplegar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css">
<div class="modal fade" id="tb_commerce_mod_info" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tb_main_info" data-toggle="tab">Informacion</a>
                        </li>
                        <li>
                            <a href="#tb_php_info" data-toggle="tab">PHP info</a>
                        </li>
                        <li>
                            <a href="#tb_logs" data-toggle="tab">Registros</a>
                        </li>
                    </ul>
                </h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane fade active in" id="tb_main_info">
                    <h3 class="menu-head">Informacion Plugin / Ambiente</h3>
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_ecommerce_name }}">
                                    <b>{{ l_ecommerce }}</b>
                                </span>
                            </td>
                            <td>
                                <input type="hidden" name="tb_ecommece" id="tb_ecommerce" value="{{ healthcheck.server_resume.plugin_info.ecommerce }}"> {{ healthcheck.server_resume.plugin_info.ecommerce }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_ecommerce_version }}">
                                    <b>{{ l_version }}</b>
                                </span>
                            </td>
                            <td>
                                {{ healthcheck.server_resume.plugin_info.ecommerce_version }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_ecommerce_webpay }}">
                                    <b>{{ l_webpay }}</b>
                                </span>
                            </td>
                            <td>{{ healthcheck.server_resume.plugin_info.current_plugin_version }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_ecommerce_last }}">
                                    <b>{{ l_last_webpay }}</b>
                                </span>
                            </td>
                            <td>{{ healthcheck.server_resume.plugin_info.last_plugin_version }}</td>
                        </tr>
                    </table>
                    <h3 class="menu-head">Validacion de Certificados</h3>
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_consistency }}">
                                <b>{{ l_consistency }}</b>
                                </span>
                            </td>
                            <td>{{ healthcheck.validate_certificates.consistency.cert_vs_private_key }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_commerce_code_validate }}">
                                    <b>{{ l_cc_validate }}</b>
                                </span>
                            </td>
                            <td>{{ healthcheck.validate_certificates.consistency.commerce_code_validate }}</td>
                        </tr>
                    </table>
                    <hr>
                    <h4>Informaci&oacute;n Certificado</h4>
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_common_name }}">
                                    <b>{{ l_cn }}</b>
                                </span>
                            </td>
                            <td>{{ healthcheck.validate_certificates.cert_info.subject_commerce_code}}</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_cert_version }}">
                                    <b>{{ l_cert_version}}</b>
                                </span>
                            </td>
                            <td>{{ healthcheck.validate_certificates.cert_info.version }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_cert_vigency }}">
                                    <b>{{ l_cert_vigency }}</b>
                                </span>
                            </td>
                            <td>{{ _self.class_response(healthcheck.validate_certificates.cert_info.is_valid)}}</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_cert_from}}">
                                    <b>{{ l_cert_from}}</b>
                                </span>
                            </td>
                            <td>{{ healthcheck.validate_certificates.cert_info.valid_from }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_cert_to }}">
                                    <b>{{ l_cert_to }}</b>
                                </span>
                            </td>
                            <td>{{ healthcheck.validate_certificates.cert_info.valid_to }}</td>
                        </tr>
                    </table>

                    <h3 class="menu-head">Informaci&oacute;n de Servidor</h3>
                    <h4>Informaci&oacute;n Principal</h4>
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_webserver }}">
                                    <b>{{ l_webserver }}</b>
                                </span>
                            </td>
                            <td>{{ healthcheck.server_resume.server_version.server_software }}</td>
                        </tr>
                        <tr>
                            <td>
                                <h4>PHP</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-info" title="{{ label_php_version_validate}}">
                                    <b>{{ l_php_validate}}</b>
                                </span>
                            </td>
                            <td>{{ _self.class_response(healthcheck.server_resume.php_version.status)}}</td>
                        </tr>
                        <td>
                            <span class="label label-info" title="{{ label_php_version }}">
                                <b>{{ l_php_version }}</b>
                            </span>
                        </td>
                        <td>{{ healthcheck.server_resume.php_version.version }}</td>
                    </table>
                    <hr>
                    <table class="table table-responsive table-striped">
                        <thead>
                            <th>Extension</th>
                            <th>Estado</th>
                            <th>Version</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>OpenSSL</th>
                                <td>{{ _self.class_response(healthcheck.php_extensions_status.openssl.status) }}</td>
                                <td>{{ healthcheck.php_extensions_status.openssl.version }}</td>
                            </tr>
                            <tr>
                                <th>SimpleXML</th>
                                <td>{{ _self.class_response(healthcheck.php_extensions_status.SimpleXML.status) }}</td>
                                <td>{{ healthcheck.php_extensions_status.SimpleXML.version }}</td>
                            </tr>
                            <tr>
                                <th>soap</th>
                                <td>{{ _self.class_response(healthcheck.php_extensions_status.soap.status) }}</td>
                                <td>{{ healthcheck.php_extensions_status.soap.version }}</td>
                            </tr>
                            <tr>
                                <th>dom</th>
                                <td>{{ _self.class_response(healthcheck.php_extensions_status.dom.status) }}</td>
                                <td>{{ healthcheck.php_extensions_status.dom.version }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!--
        <h3 class="menu-head">Validaci&oacute;n Transacci&oacute;n</h3>
        <h4>General</h4>
        <table class="table table-borderless">
          <tr>
            <td>
              <span class="label label-info" title="{{ label_conection_status }}">
                <b>{{ l_con_status }}</b>
              </span>
            </td>
            <td>{{ _self.class_response(healthcheck.validate_init_transaction.status.string)}}</td>
          </tr>
        </table>
        <h4>Respuesta</h4>
        <table class="table table-borderless">
          {{ response_init }}
        </table>
        -->
                </div>
                <div class="tab-pane fade" id="tb_php_info">
                    {{ healthcheck.php_info.string.content }}
                </div>
                <div class="tab-pane fade" id="tb_logs">
                    <div class="form_validate">
                        <h3 class="menu-head">Configuraci&oacute;n</h3>
                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <span class="label label-info" title="{{ label_active_logs }}">
                                        <b>{{ l_logs_active }}</b>
                                    </span>
                                </td>
                                <td>
                                    {% if loghandler.config.status == true %}
                                    <input type='checkbox' name='tb_reg_checkbox' id='tb_reg_checkbox' checked> {% else %}
                                    <input type='checkbox' name='tb_reg_checkbox' id='tb_reg_checkbox'> {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-info" title="{{ label_logs_days }}">
                                        <b>{{ l_ldays }}</b>
                                    </span>
                                </td>
                                <td>
                                    <input type="number" name="tb_regs_days" id="tb_regs_days" value="{{ tb_max_logs_days }}" placeholder="1" maxlength="2" size="2" min="1" max="30">
                                    <span>D&iacute;as</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-info" title="{{ label_logs_weight }}">
                                        <b>{{ l_lweight }}</b>
                                    </span>
                                </td>
                                <td>
                                    <input type="number" name="tb_regs_weight" id="tb_regs_weight" value="{{ tb_max_logs_weight }}" placeholder="2" maxlength="2" size="2" min="1" max="10">
                                    <span>Mb</span>
                                </td>
                            </tr>
                            <tr>
                                {% if loghandler.config.status == true %}
                                <td>
                                    <button type="button" name="tb_update" id="tb_update" class="btn btn-info btn-sm">{{btn_params}}</button>
                                </td>
                                {% else %}
                                <td>
                                    <button type="button" name="tb_update" id="tb_update" class="btn btn-default btn-sm disabled">{{ btn_params }}</button>
                                </td>
                                {% endif %}
                            </tr>
                        </table>
                    </div>
                    <div class="maininfo">
                        <h3 class="menu-head">Informaci&oacute;n de Registros</h3>
                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <span class="label label-info" title="{{ label_regs_status }}">
                                        <b>{{ l_regs_status }}</b>
                                    </span>
                                </td>
                                <td>
                                    {% if loghandler.config.status == true %}
                                    <span class='label label-success'>Activado sistema de Registros</span> {% else %}
                                    <span class='label label-warning'>Desactivado sistema de Registros</span> {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-info" title="{{ label_regs_dir }}">
                                        <b>{{ l_regs_dir }}</b>
                                    </span>
                                </td>
                                <td>{{ log_dir }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-info" title="{{ label_regs_count }}">
                                        <b>{{ l_regs_count }}</b>
                                    </span>
                                </td>
                                <td>{{ log_count }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-info" title="{{ label_regs_list }}">
                                        <b>{{ l_regs_list }}</b>
                                    </span>
                                </td>
                                <td>
                                    <ul>
                                        {% for item in log_list %}
                                        <li>{{ item }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <b>{{ l_last_log }}</b>
                        <div class="log_content">
                            <code>{{ res_logcontent }}</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="boton_pdf" class="btn btn-danger">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ btn_pdfmain }}</button>
                <button type="button" class="btn btn-warning" name="boton_php_info" id="boton_php_info">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> {{ button_pdfinfo }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ btn_close }}</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="webpay_url_loadconfig" value="{{ webpay_url_loadconfig }}" id="webpay_url_loadconfig">
<input type="hidden" name="webpay_url_makepdf" value="{{ webpay_url_makepdf }}" id="webpay_url_makepdf">
<!-- Script para limpiar parametros -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js" charset="utf-8"></script>
<script type="text/javascript">
    // scripts para funcionamiento interno de modal
    $(window).ready(function() {
        atrr_cc = document.querySelector('input[id*="payment_webpay_commerce_code"]').value;
        onchange.setAttribute("onchange", "validateSelect()");
        if (atrr_cc == null || atrr_cc == "" || atrr_cc == "") {
            validateSelect();
        }

        $('#tb_commerce_mod_info').on('show.bs.modal', function() {
            $('.modal .modal-body').css('overflow-y', 'auto');
            $('.modal .modal-body').css('max-height', $(window).height() * 0.6);
            $('.modal .modal-body').css('min-height', $(window).height() * 0.6);
        });

        var options = {
            onText: "Si",
            size: "small",
            onColor: 'success',
            offColor: 'warning',
            offText: "No",
            animate: true
        };
        $("[name='tb_reg_checkbox']").bootstrapSwitch(options);

        url = document.getElementById('webpay_url_loadconfig').value;

        $(document).on('click', '#tb_update', function(e) {
            var days = document.getElementById("tb_regs_days").value;
            var weight = document.getElementById('tb_regs_weight').value;
            var ecom = document.getElementById('tb_ecommerce').value;
            var validate = true;
            var postText = '{"ecommerce" : "' + ecom + '", "status":' + validate + ', "max_days":"' + days + '", "max_weight":"' + weight + '"  }';
            $.ajax({
                url: url,
                type: 'POST',
                data: 'update=si&req=' + postText,
                dataType: 'text json',
                success: function(data, status) {
                    $('#tb_logs').load(document.URL + ' #tb_logs');
                },
                error: function(e) {
                    console.error('error: ' + e);
                }
            });
        });

        document.getElementById('tb_update').disabled = true;
        $('input[id="tb_reg_checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
            var days = document.getElementById("tb_regs_days").value;
            var weight = document.getElementById('tb_regs_weight').value;
            var ecom = document.getElementById('tb_ecommerce').value;

            if ($('#tb_reg_checkbox').is(':checked')) {
                var validate = true;
                $('#tb_update').removeClass('disabled');
                document.getElementById("tb_update").disabled = false;
            } else {
                var validate = false;
                $('#tb_update').addClass('disabled');
                document.getElementById("tb_update").disabled = true;
            }
            var postText = '{"ecommerce":"' + ecom + '","status":' + validate + ',"max_days":"' + days + '","max_weight":"' + weight + '"}';
            $.ajax({
                url: url,
                type: 'post',
                data: 'req=' + postText,
                success: function(data, status) {
                    console.log('se ha ingresado la informacion ' + status);
                    $('#tb_logs').load(document.URL + ' #tb_logs');
                },
                error: function(e) {
                    console.error('error: ' + e);
                    $('#tb_logs').load(document.URL + ' #tb_logs');
                }
            });
        });

        $('#tb_php_info').hide();
        $('#tb_logs').hide();
        $('#boton_php_info').hide();
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            var target = $(e.target).attr("href");
            if ((target == '#tb_main_info')) {
                $('#boton_pdf').show()
                $('#boton_php_info').hide();
                $('#tb_main_info').show();
                $('#tb_php_info').hide();
                $('#tb_logs').hide();
            } else {
                $('#boton_pdf').hide();
                if ((target == '#tb_php_info')) {
                    $('#boton_php_info').show();
                    $('#tb_main_info').hide();
                    $('#tb_logs').hide();
                    $('#tb_php_info').show();

                } else {
                    $('#tb_main_info').hide();
                    $('#tb_logs').show();
                    $('#tb_php_info').hide();
                    $('#boton_php_info').hide();
                }
            }
        });

        var pdfurl = document.getElementById('webpay_url_makepdf').value;
        var ob = {
            {
                hc_data
            }
        };

        $(document).on('click', '#boton_pdf', function(e) {
            var iframe = document.createElement('iframe');
            iframe.name = 'myTarget';
            window.addEventListener('load', function() {
                iframe.style.display = 'none';
                document.body.appendChild(iframe);
            });
            data = {
                'item': JSON.stringify(ob),
                'document': 'report'
            };
            var name,
                form = document.createElement('form'),
                node = document.createElement('input');

            iframe.addEventListener('load', function() {
                alert('data send');
            });
            form.action = pdfurl;
            form.method = 'POST';
            form.target = iframe.name;
            for (name in data) {
                node.name = name;
                node.value = data[name].toString();
                form.appendChild(node.cloneNode());
            }
            form.style.display = 'none';
            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        });

        $(document).on('click', '#boton_php_info', function(e) {
            var iframe = document.createElement('iframe');
            iframe.name = 'myTarget';
            window.addEventListener('load', function() {
                iframe.style.display = 'none';
                document.body.appendChild(iframe);
            });
            data = {
                'item': JSON.stringify(ob),
                'document': 'php_info'
            };
            var name,
                form = document.createElement('form'),
                node = document.createElement('input');

            iframe.addEventListener('load', function() {
                alert('data send');
            });
            form.action = pdfurl;
            form.method = 'POST';
            form.target = iframe.name;
            for (name in data) {
                node.name = name;
                node.value = data[name].toString();
                form.appendChild(node.cloneNode());
            }
            form.style.display = 'none';
            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        });

    });
</script>
